.invoice {
  
  font-family: "Inter", sans-serif;
}
.card-body {
  margin: 3%;
  padding: 2%;
}
.maincard {
    margin: 7%;
}
.invoicecard{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom:2%;
}
