.s1{
    border-radius: 5px;

}

.s2{
    border-radius: 5px;

}
.s3{
    border-radius: 5px;

}
.s4{
    border-radius: 5px;

}
.s5{
    border-radius: 5px;

}

.s6{
    border-radius: 5px;

}.s7{
    border-radius: 5px;

}
.s8{
    border-radius: 5px;

}
