.main {
  font-family: "Inter", sans-serif;
  justify-self: center;
}
.container {
  margin-top: 8%;
}
.main-content {
  margin: 4%;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
@media only screen and (max-width: 1000px) {
  .card {
    margin-top: 5%;
  }
}

.card-header {
  text-align: center;
  border-radius: 10px;
  background-color: rgb(2, 178, 144);
}
.button:hover {
  background: rgb(2, 178, 144);
  color: rgb(0, 0, 0);
}
.scroll {
  overflow-y: scroll;
  height: 440px;
  width: 100%;
  text-align: justify;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgb(2, 178, 144);
}
.carthome {
  margin-right: 40%;
  margin-left: 40%;
  width: 20%;
  
}
.dbutton {
  font-family: "Inter", sans-serif;
  background-color: rgb(241, 69, 69);
}
