.data_container {
  margin-top: 2rem;
}
.cardView {
  width: 20%;
  float: left;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: -2%;
  font-size: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  margin-bottom: 2%;
}
.cardView:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.BuyButton {
  background-color: rgb(2, 178, 144);
  color: rgb(240, 248, 255);
  font-size: 16px;
  border: none;
  height: 3rem;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}
.third_container {
  display: flex;
  justify-content: space-evenly;
  margin: 11px;
  align-items: center;
}
.fourth_container {
  font-size: 16px;
}
.BuyButton:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media only screen and (max-width: 1200px) {
  .cardView {
    width: 20%;
    font-size: 20px;
  }
  .BuyButton {
    margin-left: 30%;
    height: 3.5rem;
    margin: auto;
  }
}
@media only screen and (max-width: 900px) {
  .cardView {
    width: 28%;
    font-size: 20px;
  }
  .BuyButton {
    margin-left: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .cardView {
    width: 44%;
    font-size: 20px;
  }
  .BuyButton {
    margin-left: 30%;
    width: 60%;
  }
  .third_container {
    display: block;
    text-align: center;
  }
  .fourth_container {
    margin-left: 12%;
  }
  .fifth_container {
    margin-right: 20%;
    margin-left: 20%;
  }
}
@media only screen and (max-width: 355px) {
  .BuyButton {
    margin-left: 30%;
    height: 10%;
    min-width: 76%;
  }
}
/*SCROLLS */
.scroll_products {
  overflow-y: scroll;
  height: 600px;
}
/*SIDE BAR CATEGORY COMPONENT*/
.slide li a {
  text-decoration: none;
  color: rgb(45, 47, 49);
}
.navbar {
  width: auto;
  background: rgb(255, 255, 255);
  margin-left: 5%;
}
.navbar span {
  padding: 30px;
  background: rgb(45, 47, 49);
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
  border-radius: 10px;
}
/* .navbar span::after {
  float: right;
  right: 10%;
  content: "+";
} */
.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s ease;
  font-size: 19px;
}
.slide li {
  padding: 25px;
}
#touch {
  position: absolute;
  opacity: 0.5;
  height: 0px;
}
.label_nav {
  width: 100%;
}
#touch:checked + .slide {
  height: 130px;
}
.filter_div {
  margin-top: 4%;
}
.data_div {
  margin-top: 4%;
}
@media only screen and (max-width: 1024px) {
  .filter_div {
    margin-top: 7%;
  }
}
@media only screen and (max-width: 767px) {
  .filter_div {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .filter_div {
    margin-top: 13%;
  }
}
@media only screen and (max-width: 374px) {
  .filter_div {
    margin-top: 20%;
  }
}
