.cardView {
  width: 20%;
  float: left;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 2%;
  font-size: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.cardView:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.CounterButton {
  background-color: rgb(2, 178, 144);
  color: rgb(240, 248, 255);
  font-size: 13px;
  border: none;
  width: 10%;
  border-radius: 50%;
}
.BuyButton {
  background-color: rgb(2, 178, 144);
  color: rgb(240, 248, 255);
  font-size: 17px;
  border: none;
  height: 2rem;
  border-radius: 10%;
}

.div3 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.BuyButton:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.CounterButton:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media only screen and (max-width: 1200px) {
  .cardView {
    width: 20%;
    font-size: 20px;
  }
  .BuyButton {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .cardView {
    width: 28%;
    font-size: 20px;
  }
  .BuyButton {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .cardView {
    width: 44%;
    font-size: 20px;
  }
  .BuyButton {
    margin-left: 30%;
    width: 90%;
  }
  .div3 {
    display: block;
  }
  .div4 {
    margin-left: 12%;
  }
  .div5 {
    margin-right: 18%;
  }
}

@media only screen and (max-width: 355px) {
  .BuyButton {
    margin-left: 30%;
    height: 10%;
  }
}
