.slide li a {
  text-decoration: none;
  color: rgb(45, 47, 49);
}
.navbar {
  width: auto;
  background: rgb(255, 255, 255);
  margin-left: 5%;
}
.navbar span {
  padding: 20px;
  /* background: rgb(7, 104, 84); */
  /* background:rgb(195, 255, 221); */
  background:rgb(6, 178, 144) ;
  color: rgb(0, 0, 0);

  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  border: none;
  transition: 0.4s;
  text-decoration: none;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-left: 10%;
}
.navbar span:hover {
  
  /* background: rgb(112, 162, 152);*/
  background: rgb(6, 7, 7);
  color: rgb(255, 255, 255);
}
/* .navbar span::after {
    float: right;
    right: 10%;
    content: "+";
  } */
.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s ease;
  font-size: 19px;
}
.slide li {
  padding: 25px;
}
#touch {
  position: absolute;
  opacity: 0.5;
  height: 0px;
}
.label_nav {
  width: 100%;
}
#touch:checked + .slide {
  height: 130px;
}
.scroll_filter {
  overflow-y: scroll;
  height: 420px;
}
/*USE THIS FOR A DROPDON IF HAVE SUBCATEGORIES */
/* <div className="navbar" onClick={()=>console.log("WORKS")} >
<label for="touch" className="label_nav"  >
  <span>Categorey name</span>
</label>
<input type="checkbox" id="touch" />

<ul class="slide">
  <li>
    <a href="/">Sub category</a>
  </li>
  <li>
    <a href="/">Sub category</a>
  </li>
</ul>
</div> */
